# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
C++Files/Main/x64/
C++Files/x64/
*.tlog
*.idb
*.pdb
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
/C++Files/.vs
/C++Files/Debug
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.log
*.recipe
*.ilk
